@import "./normalize.scss";
@import "./icon.scss";
@import "./antDesign.scss";

// color
.color_white {
  color: #fff;
}
// font-size
.fs_12 {
  font-size: 12px;
}
// text-align
.text_center {
  text-align: center;
}
